.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding: 10px 20px;
}
.buy-btn {
    background-color: white;
    width: 120px;
    height: 40px;
    color: rgb(148, 231, 85);
    border-radius: 5px;

    transition: 0.3s;
}
.buy-btn:hover {
    background-color: black;
    color: rgb(148, 231, 85);
}

.image {
    justify-content: center;
    display: flex;
}